@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body {
    background-image: linear-gradient(to right, #F1C3D4, #D8A7B1);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #846c75c0;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
   color: #318F5C;
   text-align: center;
   text-shadow: 1px 1px 2px #16452bba;
}
h2 {
   color: #a8707b;
}
p {
    text-align: justify;
}